.DS_Store
Lessons_and_worksheets/week3_selection/week3_theory.out
Lessons_and_worksheets/week3_selection/week3_theory.synctex.gz
Lessons_and_worksheets/week3_selection/week3_theory.log
Lessons_and_worksheets/week3_selection/week3_theory.aux
